.withCoApplicantContainer {
    width: 600px;
    margin: 20px auto 0;
}
.icon {
    background-position: 0 150px;
    background-repeat: no-repeat;
    height: 251px;
    width: 71px;
    display: inline-block;
    vertical-align: middle;
}

.genderBoth {
    composes: icon;
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-co-applicant.png);
    background-position: -479px -5px;
    width: 141px;
    height: 251px
}

.genderFemale {
    composes: icon;
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-gender.png);
    background-position: -5px -5px;;
}
.genderMale {
    composes: icon;
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-gender.png);
    background-position: -86px -5px;
}