.calendarContainer {
    margin: 30px auto;
}

.curvedTable {
    border-collapse: separate;
    border: solid #ddd 1px;
    border-radius: 6px;
    border-left: 0;
    border-top: 0;
    background: #fff;
    color: #34495e;
    margin: 0 auto 5px;
    text-align: center;
    font-size: 14px;
    width: 100%;

    tbody > tr:first-child > td:first-child {
        border-top-left-radius: 6px;
    }
    tbody > tr:first-child > td:last-child {
        border-top-right-radius: 6px;
    }

    td {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
        
        &:hover {
            background: #c8c8c8;
            cursor: pointer;
        }
    }

    td.selected {
        background: #40e0d0;
        color: #fff;        
    }

    a {
        display: block;
        color: #34495e;
        cursor: pointer;
        height: 30px;
        line-height: 30px;
    }
}

.tableHeading {
    background: #34495e;
    border-radius: 6px;
    padding: 5px 7px;
    font-weight: bold;
    font-size: 16px;
}

.highlight {
    color: #ffff7b;
}