.container {
    width: 600px;
    margin: 20px auto 0;
    @media only screen and (max-width: 767px) {
        width: 100%;
    }
}

.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-gender.png);
    background-position: 0 200px;
    background-repeat: no-repeat;
    height: 251px;
    width: 71px;
    display: inline-block;
    vertical-align: middle;
}

.iconMale {
    composes: icon;
    background-position: -86px -5px;
}

.iconFemale {
    composes: icon;
    background-position: -5px -5px;
}

.iconBoth {
    composes: icon;
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-co-applicant.png);
    background-position: -479px -5px;
    width: 141px;
    height: 251px
}

@media only screen and (max-width: 767px) {
    .icon {
        background-image: url(https://www.bankbazaar.com/images/mobile/landing_page/sprite-gender.png);
        height: 120px;
        width: 34px;
    }
    .iconMale {
        background-position: -49px -5px;
    }
    .iconFemale {
        background-position: -5px -5px;
    }
}