.cityCompContainer {
    margin-top:70px
}
.iconResidence {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-city.png);
    background-repeat: no-repeat;
    background-position: 0 200px;
    display: inline-block;
    width: 132px;
    height: 132px;
    vertical-align: middle;
}

.iconResidenceMumbai {
    composes: iconResidence;
    background-position: -2px -138px;
}

.iconResidenceChennai {
    composes: iconResidence;
    background-position: -138px -2px;
}

.iconResidenceNewDelhi {
    composes: iconResidence;
    background-position: -138px -138px;
}

.iconResidenceBangalore {
    composes: iconResidence;
    background-position: -2px -2px;
}

.iconResidenceOther {
    composes: iconResidence;
    background-position: -274px -2px;
}

.iconProperty {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-home-property.png);
    background-repeat: no-repeat;
    background-position: 0 200px;
    display: inline-block;
    width: 132px;
    height: 132px;
    vertical-align: middle;
}

.iconPropertyMumbai {
    composes: iconProperty;
    background-position: -5px -5px;
}

.iconPropertyChennai {
    composes: iconProperty;
    background-position: -147px -5px;
}

.iconPropertyNewDelhi {
    composes: iconProperty;
    background-position: -289px -5px;
}

.iconPropertyBangalore {
    composes: iconProperty;
    background-position: -431px -5px;
}

.iconPropertyOther {
    composes: iconProperty;
    background-position: -573px -5px;
}

@media only screen and (max-width: 767px) {
    .cityCompContainer {
        margin-top:10px
    }
    .iconResidence {
        background-image: url(https://www.bankbazaar.com/images/mobile/landing_page/sprite-city.png);
        width: 60px;
        height: 70px;
    }
    .iconResidenceMumbai {
        background-position: -215px 0;
    }
    .iconResidenceChennai {
        background-position: -75px -5px;
    }
    .iconResidenceNewDelhi {
        background-position: -145px 0;
    }
    .iconResidenceBangalore {
        background-position: -5px -5px;
    }
    .iconResidenceOther {
        background-position: -285px -5px;
    }
    .iconProperty {
        background-image: url(https://www.bankbazaar.com/images/sprite/sprite-property-mob-v1.png);
        width: 60px;
        height: 60px;
    }
    .iconPropertyMumbai {
        background-position: -5px -5px;
    }
    .iconPropertyChennai {
        background-position: -75px -5px;
    }
    .iconPropertyNewDelhi {
        background-position: -145px -5px;
    }
    .iconPropertyBangalore {
        background-position: -215px -5px;
    }
    .iconPropertyOther {
        background-position: -285px -5px;
    }
}

.listContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.list {
    list-style: none;
    margin: 0 5px;
    height: auto;
    padding: 0;

    li {
        font-size: 12px;
        line-height: 18px;
        text-align: left;

        &.listSectionHeading {
            color: black;
            background: #ececec;
            padding: 2px 7px;
            text-transform: uppercase;
        }
        
        a {
            display: block;
            color: #646464;
            font-size: 14px;
            padding:2px 7px;
            text-align: left;
            cursor: pointer;

            &:hover {
                background: #3fe0d0;
                color: #fff;
            }
        }
    }
}


