.containerDesktop {
    margin-top:70px
}
.iconResidenceDesktop {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-city.png);
    background-repeat: no-repeat;
    background-position: 0 200px;
    display: inline-block;
    width: 132px;
    height: 132px;
    vertical-align: middle;
}

.iconResidenceDesktopMumbai {
    composes: iconResidenceDesktop;
    background-position: -2px -138px;
}

.iconResidenceDesktopChennai {
    composes: iconResidenceDesktop;
    background-position: -138px -2px;
}

.iconResidenceDesktopNewDelhi {
    composes: iconResidenceDesktop;
    background-position: -138px -138px;
}

.iconResidenceDesktopBangalore {
    composes: iconResidenceDesktop;
    background-position: -2px -2px;
}

.iconResidenceDesktopOther {
    composes: iconResidenceDesktop;
    background-position: -274px -2px;
}

.iconPropertyDesktop {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-home-property.png);
    background-repeat: no-repeat;
    background-position: 0 200px;
    display: inline-block;
    width: 132px;
    height: 132px;
    vertical-align: middle;
}

.iconPropertyDesktopMumbai {
    composes: iconPropertyDesktop;
    background-position: -5px -5px;
}

.iconPropertyDesktopChennai {
    composes: iconPropertyDesktop;
    background-position: -147px -5px;
}

.iconPropertyDesktopNewDelhi {
    composes: iconPropertyDesktop;
    background-position: -289px -5px;
}

.iconPropertyDesktopBangalore {
    composes: iconPropertyDesktop;
    background-position: -431px -5px;
}

.iconPropertyDesktopOther {
    composes: iconPropertyDesktop;
    background-position: -573px -5px;
}

.containerMobile {
    margin-top:10px
}

.iconResidenceMobile {
    composes: iconResidenceDesktop;
    background-image: url(https://www.bankbazaar.com/images/mobile/landing_page/sprite-city.png);
    width: 60px;
    height: 70px;
}

.iconResidenceMobileMumbai {
    composes: iconResidenceMobile;
    background-position: -215px 0;
}

.iconResidenceMobileChennai {
    composes: iconResidenceMobile;
    background-position: -75px -5px;
}

.iconResidenceMobileNewDelhi {
    composes: iconResidenceMobile;
    background-position: -145px 0;
}

.iconResidenceMobileBangalore {
    composes: iconResidenceMobile;
    background-position: -5px -5px;
}

.iconResidenceMobileOther {
    composes: iconResidenceMobile;
    background-position: -285px -5px;
}

.iconPropertyMobile {
    composes: iconPropertyDesktop;
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-property-mob-v1.png);
    width: 60px;
    height: 60px;
}

.iconPropertyMobileMumbai {
    composes: iconPropertyMobile;
    background-position: -5px -5px;
}

.iconPropertyMobileChennai {
    composes: iconPropertyMobile;
    background-position: -75px -5px;
}

.iconPropertyMobileNewDelhi {
    composes: iconPropertyMobile;
    background-position: -145px -5px;
}

.iconPropertyMobileBangalore {
    composes: iconPropertyMobile;
    background-position: -215px -5px;
}

.iconPropertyMobileOther {
    composes: iconPropertyMobile;
    background-position: -285px -5px;
}

.listContainer {
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
    z-index: 1000;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.list {
    list-style: none;
    margin: 0 5px;
    height: auto;
    padding: 0;

    li {
        font-size: 12px;
        line-height: 18px;
        text-align: left;

        &.listSectionHeading {
            color: black;
            background: #ececec;
            padding: 2px 7px;
            text-transform: uppercase;
        }
        
        a {
            display: block;
            color: #646464;
            font-size: 14px;
            padding:2px 7px;
            text-align: left;
            cursor: pointer;

            &:hover {
                background: #3fe0d0;
                color: #fff;
            }
        }
    }
}


