.slideContainer {
    color: #fff;
    background: #3dbfd9;
    position: relative;
    text-align: center;
    padding: 20px 0;
}

.slideHeader {
    font-size: 24px;
    position: relative;
}

.slideControlPrev {
    position: absolute;
    left: 15px;
    top: 45%;
    margin-top: -20px;
}

.slideControlNext {
    position: absolute;
    right: 15px;
    top: 45%;
    margin-top: -20px;
}

.icon {
    background: #2c3e50;
    border: 3px solid #fff;
    border-radius: 23px;
    opacity: 0.5;
    display: inline-block;
    padding: 0px 2px 4px 2px;
    cursor: pointer;
}

.icon:hover,
.icon:focus {
    opacity: .9;
    filter: alpha(opacity=90);
}

.radio-col {
    float: none;
}

.errorContainer {
    position: absolute;
    background: #f1c40f;
    padding: 5px;
    border-radius: 6px;
}

.errorMessage {
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    line-height: normal;
    text-align: left;
}