.slideContainer {
    color: #fff;
    background: #3dbfd9;
    position: relative;
    text-align: center;
    padding: 0 0 20px;
    overflow: hidden;
}

.slideContainerInner {
    min-height: 380px;
}

.slideControlPrev {
    position: absolute;
    left: 15px;
    top: 45%;
    margin-top: -20px;
}

.slideControlNext {
    position: absolute;
    right: 15px;
    top: 45%;
    margin-top: -20px;
}

.slideControlButtonIcon {
    background: #2c3e50;
    border: 3px solid #fff;
    border-radius: 23px;
    opacity: 0.5;
    display: inline-block;
    padding: 0px 2px 4px 2px;
    cursor: pointer;
}

.slideControlIcon:hover,
.slideControlIcon:focus {
    opacity: .9;
    filter: alpha(opacity=90);
}
