.font-xxlg {
    font-size: 26px;
    line-height: 30px;
    @media only screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 20px;
    }
}
.mt-lg {
    margin-top: 10px;
}
/*Todo: class name need to change*/
.radio-col {
      display: inline-block;
      float: none;
      vertical-align: top;
      margin-bottom: 5px;
      padding: 8px 10px;
}