$backgroundImage: url(https://www.bankbazaar.com/images/sprite/elig-slider-v1.png);
.slider-horizontal-ruler {
  background-image: $backgroundImage;
  height: 80px;
  position: relative;
  margin: 30px auto 60px;

  &.ruler-0-7 {
    background-position: -134px -405px;
    width: 540px;
    .rangeslider-horizontal {
      width: 473px;
    }
  }

  &.ruler-18-70 {
    background-position: -125px -537px;
    width: 540px;
    .rangeslider-horizontal {
      width:515px;
    }
  }

  &.ruler-0-120000 {
    background-position: 0 -140px;
    width: 810px;
    .rangeslider-horizontal {
      width: 715px;
    }
  }

  &.ruler-blank {
    background-position: -63px -947px;
    width: 675px;
   .rangeslider-horizontal {
      width: 617px;
    }
  }
}

.rangeslider__handle {
  background-image: $backgroundImage;
  margin: 0 auto;
  height: 115px;
  width: 112px;
  background-position: -13px -12px;
  top: -17px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  left:-54px;

}
.rangeslider__tooltip {
  color: #000;
  font-size: 20px;
  margin-top: 40px;
}

.rangeslider-horizontal {
  height: 70px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

