.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;

    position: absolute;
    margin-top: 5px;
    width: 100%;
    height: 170px;
    overflow-y: scroll;
    z-index: 2;
    
    background-color: #fff;
    border: 0 none;
    border-radius: 6px;
    box-shadow: 0 0 2px #696969 inset;

    color: #34495e;
    text-align: left;
    text-transform: uppercase!important;
}

.react-autosuggest__suggestions-list {
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}
