/* Button styles | Begin*/
.Button_btn_22AnF {
  border: 0 none;
  border-radius: 4px;
  font-size: 15px;
  line-height: 1.4;
  padding: 10px 15px;
  cursor: pointer;
  transition: border 0.25s linear 0s, color 0.25s linear 0s, background-color 0.25s linear 0s;
  background-color: #e74c3c;
  color: #fff;
  text-decoration: none;
  display: inline-block; }
  .Button_btn_22AnF:hover {
    background-color: #ec7063;
    text-decoration: none; }
  .Button_btn_22AnF .Button_disabled_CpaDE {
    cursor: not-allowed;
    opacity: 0.65;
    pointer-events: none; }

.Button_btn-primary_19gnk {
  background: #1abc9c; }

.Button_btn-primary_19gnk:hover {
  background: #48c9b0; }

.Button_btn-secondary_1HK3h {
  background: #34495e; }

.Button_btn-secondary_1HK3h:hover {
  background: #1abc9c; }

.Button_btn-default_2uuGZ {
  background-color: #bdc3c7;
  color: #fff; }

.Button_btn-small_36bsh {
  font-size: 12px;
  padding: 5px 10px; }

.Button_btn-large_HI5Nx {
  border-radius: 6px;
  font-size: 22px;
  padding: 12px 20px; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .Button_btn_22AnF {
    padding: 6px 10px; }
  .Button_btn-large_HI5Nx {
    font-size: 18px;
    padding: 8px 15px; } }

/* Button styles | End*/
.Button_icon_1J6TD {
  background: #2c3e50;
  border: 3px solid #fff;
  border-radius: 23px;
  opacity: 0.5;
  display: inline-block;
  padding: 0px 2px 4px 2px;
  cursor: pointer; }

.Button_icon_1J6TD:hover,
.Button_icon_1J6TD:focus {
  opacity: .9;
  filter: alpha(opacity=90); }
.Radio_labelContainer_GAGkX {
  padding: 8px 10px;
  display: block;
  cursor: pointer;
  font-size: 14px;
  margin-bottom: 0; }

.Radio_labelContainer_GAGkX:hover,
.Radio_labelContainer_GAGkX.Radio_checked_3vFBq {
  background: #40e0d0;
  border-radius: 5px; }

.Radio_label_yxL3e {
  font-size: 15px;
  display: block;
  margin: 5px 0 0;
  font-weight: bold; }
.Gender_icon_2tGsO {
  background-image: url(https://www.bankbazaar.com/images/sprite/sprite-gender.png);
  background-position: 0 200px;
  background-repeat: no-repeat;
  height: 251px;
  width: 71px;
  display: inline-block;
  vertical-align: middle; }

.Gender_iconMale_1zZv2 {
  background-position: -86px -5px; }

.Gender_iconFemale_1-vvs {
  background-position: -5px -5px; }

.Gender_container_1flEU {
  width: 600px;
  margin: 20px auto; }
.City_icon_1YC_N {
  background-image: url(https://www.bankbazaar.com/images/sprite/sprite-city.png);
  background-repeat: no-repeat;
  background-position: -272px -138px;
  display: inline-block;
  width: 132px;
  height: 132px;
  vertical-align: middle; }

.City_iconMumbai_2KiZe {
  background-position: -2px -138px; }

.City_iconChennai_36MnZ {
  background-position: -138px -2px; }

.City_iconNewDelhi_1j3Qt {
  background-position: -138px -138px; }

.City_iconBangalore_1jdz0 {
  background-position: -2px -2px; }

.City_iconOther_3jzNL {
  background-position: -274px -2px; }

.City_container_32al2 {
  margin: 20px 0; }
input[type="text"], input[type="email"], input[type="tel"], input[type="password"], select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.TextField_inputGroup_objjx {
  display: table;
  width: 100%;
  position: relative; }

.TextField_inputGroupIcon_1Xszi {
  background-color: #34495e;
  border: 0 none;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
  display: table-cell;
  padding: 0 12px;
  width: 25px; }

.TextField_icon_1hJHX {
  background-image: url(https://www.bankbazaar.com/images/sprite/sprite-landingpage.png);
  background-position: 0 150px;
  width: 108px;
  height: 108px;
  background-repeat: no-repeat;
  display: inline-block !important;
  vertical-align: middle; }

.TextField_iconRupees_275P3 {
  background-position: -140px -84px;
  width: 17px;
  height: 19px;
  vertical-align: middle; }
.Experience_container_2c9CN {
  margin: 20px auto;
  width: 300px; }
.Salary_container_24uHU {
  margin: 20px auto;
  width: 300px; }
.Slide_slideContainer_1bzw2 {
  color: #fff;
  background: #3dbfd9;
  position: relative;
  text-align: center;
  padding: 20px 0; }

.Slide_slideHeader_DWumt {
  font-size: 24px; }

.Slide_slideControlPrev_2A9_k {
  position: absolute;
  left: 15px;
  top: 45%;
  margin-top: -20px; }

.Slide_slideControlNext_15WHF {
  position: absolute;
  right: 15px;
  top: 45%;
  margin-top: -20px; }
.Sprite_icon_3zQx4 {
  background-image: url(https://www.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px; }

.Sprite_iconLeft_3epZV {
  background-position: -163px -58px; }

.Sprite_iconRight_1XeK- {
  background-position: -224px -59px; }
