/*
.slide, .rangeslider__handle {
  background-image: url(https://www.bankbazaar.com/images/sprite/elig-slider-v1.png);
  height: 80px;
  text-align: center;
  margin: 0 auto;
}

.slideHorizontal {
  background-position: 0 -140px;
  width: 810px;
}

.rangeslider__handle {
  height: 115px;
  width: 112px;
  background-position: -13px -12px;
  top: -17px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  left:-54px;

}
.rangeslider__tooltip {
  color: #000;
  font-size: 20px;
  margin-top: 40px;
}

.rangeslider-horizontal {
  width: 605px;
  height: 70px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
*/

.sliderHorizontal, .rc-slider-handle {
  background-image: url(https://www.bankbazaar.com/images/sprite/elig-slider-v1.png);
  height: 80px;
  text-align: center;
}

.sliderHorizontal {
  background-position: 0 -140px;
  width: 810px;
  position: relative;
  margin: 90px auto;
}

.rc-slider-handle {
  height: 115px;
  width: 112px;
  background-position: -13px -12px;
  top: -17px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  margin-left: -55px;
}
.rangeslider__tooltip {
  color: #000;
  font-size: 20px;
  margin-top: 40px;
}

.rc-slider {
  width: 605px;
  height: 70px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
}

.rc-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  font-size: 18px;
  font-weight: bold;
  margin-top: 65px;
  line-height: 1.5;
  opacity: 0.9;
}
