/*Rangeslider */
.slide, .rangeslider__handle {
  background-image: url(https://www.bankbazaar.com/images/sprite/elig-slider-v1.png);
  height: 80px;
  text-align: center;
  margin: 0 auto;
}

.slideHorizontal {
  background-position: 0 -140px;
  width: 810px;
}

.rangeslider__handle {
  height: 115px;
  width: 112px;
  background-position: -13px -12px;
  top: -17px;
  position: absolute;
  cursor: pointer;
  display: inline-block;
  left:-54px;

}
.rangeslider__tooltip {
  color: #000;
  font-size: 20px;
  margin-top: 40px;
}

.rangeslider-horizontal {
  width: 605px;
  height: 70px;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
