@media (min-width: 992px) {
    .empTypeContainer {
        margin: 20px auto;
        width: 900px;
    }
}
.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-employment.png);
    background-repeat: no-repeat;
    height: 108px;
    width: 108px;
    display: inline-block;
    vertical-align: middle;
    background-position: 0 150px;
}

.iconSalaried {
    composes: icon;
    background-position: 0 0;
}

.iconSalariedProfessional {
    composes: icon;
    background-position: -108px 0;
}

.iconSelfEmployedBusiness {
    composes: icon;
    background-position: -216px 0;
}

.iconSelfEmployedProfessional {
    composes: icon;
    background-position: -324px 0;
}

.iconStudent {
    composes: icon;
    background-position: -432px 0;
}

.iconRetired {
    composes: icon;
    background-position: -540px 0;
}

.iconHomemaker {
    composes: icon;
    background-position: -648px 0;
}
@media only screen and (max-width: 767px) {
    .icon {
        background-image: url(https://www.bankbazaar.com/images/mobile/landing_page/sprite-employment.png);
        width: 60px;
        height: 60px;
    }
    .iconSalaried {
        background-position: 0 0;
    }

    .iconSalariedProfessional {
        background-position: -60px 0;
    }

    .iconSelfEmployedBusiness {
        background-position: -120px 0;
    }

    .iconSelfEmployedProfessional {
        background-position: -180px 0;
    }

    .iconStudent {
        background-position: -240px 0;
    }

    .iconRetired {
        background-position: -300px 0;
    }

    .iconHomemaker {
        background-position: -360px 0;
    }

}