/*.employerContainer {
  margin: 0 auto;
  padding: 220px 10px 0 10px;
  position: relative;
  min-height: 400px;
  background-image: url(https://www.bankbazaar.com/images/sprite/company-bg-v1.png);
  background-position: -5px -5px;
  background-repeat: no-repeat;
  width: 750px;
}*/
.employerContainer{
  margin-top: 40px;
}
.employerContainerInner{
  width: 255px;
  margin: 0 auto;
}