.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-purpose.png);
    background-position: 0 150px;
    background-repeat: no-repeat;
    height: 108px;
    width: 108px;
    display: inline-block;
    vertical-align: middle;
}

.iconIdentifiedProperty {
    composes: icon;
    background-position: 0 0;
}

.iconTransferExistingLoan {
    composes: icon;
    background-position: -108px 0;
}

.iconNotYetIdentifiedProperty {
    composes: icon;
    background-position: -216px 0;
}
