.symbols {
  background-image: url(https://www.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
}

.symbolChevronLeft {
  composes: symbols;
  background-position: -163px -58px;
}

.symbolChevronRight {
  composes: symbols;
  background-position: -224px -59px;
}
