.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-limit-transaction.png);
    background-position: 0 150px;
    background-repeat: no-repeat;
    height: 148px;
    width: 148px;
    display: inline-block;
    vertical-align: middle;
}

.iconDirectAllotment {
    composes: icon;
    background-position: -5px -5px;
}

.iconResale {
    composes: icon;
    background-position: -163px -5px;
}
