.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-property.png);
    background-position: 0 150px;
    background-repeat: no-repeat;
    height: 108px;
    width: 108px;
    display: inline-block;
    vertical-align: middle;
}

.iconConstructed {
    composes: icon;
    background-position: 0 0;
}

.iconUnderConstruction {
    composes: icon;
    background-position: -108px 0;
}

.iconLandOnly {
    composes: icon;
    background-position: -216px 0;
}
.iconConstructOnOwnLand {
    composes: icon;
    background-position: -324px 0;
}

.iconBuyLandAndConstruct {
    composes: icon;
    background-position: -432px 0;
}