.carouselControl {
    border: 3px solid #fff;
    background: #2c3e50;
    border-radius: 23px;
    color: #fff;
    font-size: 20px;
    height: 40px;
    line-height: 32px;
    margin-top: -20px;
    opacity: 0.5;
    outline: medium none;
    position: absolute;
    right: 15px;
    text-align: center;
    text-indent: 1px;
    top: 45%;
    width: 40px;
    cursor: pointer;
}
.carouselControl.left {
    left: 15px;
    text-indent: -1px;
}
.carouselControl.right {
    left: auto;
    right: 15px;
}
.carouselControl:hover,
.carouselControl:focus {
    outline: none;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}
.spriteCarousel {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
    background-repeat: no-repeat;
}
.carouselArrowRight {
    background-position: -224px -59px;
}
.carouselArrowLeft {
    background-position: -163px -58px;
}
.carouselArrowLeft, .carouselArrowRight {
    display: inline-block;
    height: 30px;
    width: 30px;
}
