.labelContainer {
    padding: 8px 10px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
}

.labelContainer:hover, 
.labelContainer.checked {
    background: #40e0d0;
    border-radius: 5px;
}

.label {
    display: block;
    margin: 10px 0 5px;
    line-height: normal;
}

.inputGroup {
  display: table;
  width: 100%;
  position: relative;
  input{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 48px;
    font-size: 17px;
  }
}
.inputGroupIcon {
  background-color: #34495e;
  border: 0 none;
  vertical-align: middle;
  border-radius: 4px 0 0 4px;
  display: table-cell;
  padding: 0 12px;
  width: 25px;
}
