.ListContainerBlock {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  z-index: 1000;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

.ListContainer{
  list-style: none;
  margin: 0 5px;
  height: auto;
  padding: 0;
  width: 140px;
}

.ListContainer li a {
  display: block;
  color: #646464;
  font-size: 14px;
  padding-left: 7px;
  line-height: 20px;
  text-align: left;
  cursor: pointer;
  &:hover {
    background: #3fe0d0;
    color: #fff;
  }
}