.labelContainer {
    padding: 8px 10px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 0;
}

.labelContainer:hover, 
.labelContainer.checked {
    background: #40e0d0;
    border-radius: 5px;
}

.label {
    font-size: 15px;
    display: block;
    margin: 5px 0 0;
    font-weight: bold;
}
