.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.iconLeft {
    composes: icon;
    background-position: -163px -58px;
}

.iconRight {
    composes: icon;
    background-position: -224px -59px;
}



.symbol {
  background-image: url(https://www.bankbazaar.com/images/sprite/sprite-landingpage.png);
  background-position: 0 150px;
  width: 108px;
  height: 108px;
  background-repeat: no-repeat;
  display: inline-block!important;
  vertical-align: middle;
}

.symbolRupee {
  composes: symbol;
  background-position: -140px -84px;
  width: 17px;
  height: 19px;
  vertical-align: middle;
}
