.icon {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-for-symbols-v3.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
}

.iconLeft {
    composes: icon;
    background-position: -163px -58px;
}

.iconRight {
    composes: icon;
    background-position: -224px -59px;
}



.symbol {
    background-image: url(https://www.bankbazaar.com/images/sprite/sprite-landingpage-v2.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block !important;
    vertical-align: middle;
}

.symbolRupee {
    composes: symbol;
    background-position: -140px -84px;
}

.symbolBuilding {
    composes: symbol;
    background-position: -92px -49px;
}